<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JARVIS AI</title>

    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="container">

        <h1>JARVIS AI</h1>

        <p id="status">Waiting for command...</p>

        <div class="circle">

            <div class="mic"></div>

        </div>

        <button onclick="activateJarvis()">
            Activate Jarvis
        </button>

    </div>

    <script src="script.js"></script>

</body>
</html>